body {
  font-family: sans-serif;
}

.background {
  background-color: #c0ffee;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.initiate-test-button {
  width: 300px;
}

.hint-line {
  min-width: 210px;
}

.answer-line {
  min-width: 210px;
  z-index: 1;
}

.result-line {
  z-index: -1;
}
